p{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #525457;
  border-color: brown;

}
hr{
  border-color: brown;
  border-width: 3px;
 }

 .layout{
   background: url('../../assets/img/fondo-api.jpg') no-repeat center center fixed;
   height: 100vh;
   background-size: cover;
 }

